
body {
    background: #F0F2FF;
    font-family: 'Rubik', Arial, sans-serif;
}


.header {
    background-color: #F0F2FF;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ccc;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-title {
    margin: 0;
}


.button {
    background-color: #84DCC6;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #84DCC6;
}


.offerings-list {
    list-style-type: none;
    padding: 0;
}

.offering-item {
    margin: 20px 0;
}

.offerings-title {
    text-align: center;
}

.box {
    background-color: #8B8FAD;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}


.box h2 {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.box h2 img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


.box p {
    margin: 0;
}

.divider {
    margin: 20px 0;
}


.footer {
    background-color: #F0F2FF;
    padding: 20px 0;
    text-align: right;
}

.footer-container {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.footer-container a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    transition: color 0.3s;
}

.footer-container a:hover {
    color: #007BFF;
}
