body{
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    overflow-x: hidden;
}

.bgd-prices{
    background-color: #F0F2FF;
    height: auto;
}

.tit-prices{
    font-weight: 700;
    font-size: 40px;
}

.parr-prices{
    font-weight: 300;
    font-size: 20px;
}

.highlight{
    font-weight: 500;
    font-style: italic;
}

.sep{
    margin-top: 40px;
}

.plan{
    max-width: 500px;
    width: 70%;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}

.tit-tarjeta{
    font-weight: 800;
    font-size: 25px;
}

.tarjeta-pt1{
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: #84DCC6;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sep2{
    line-height: 1;
    margin-bottom: 20px;
}

.im-tarjeta{
    max-width: 100px;
    height: auto;
}

.dinero{
    font-size: 25px;
    color: #000;
}

.tarjeta-pt2{
    padding-top: 5%;
    padding-bottom: 5%;
    height: auto;
}

.tarjeta-pt3{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #D1FEF2;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tit-bfs{
    font-size: 22px;
    margin-bottom: 30px;
}

.txt-bfs{
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.txt-ttl-bfs{
    color: #222222 !important;
}

.btn{
    background-color: #84DCC6;
    width: 100%; 
    max-width: 320px;
    height: 40px;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #191A20;
}

.btn:hover{
    background-color: #A3E8D6;
    color: #191A20;
}
.btn:active, .btn:focus{
    background-color: #4EA38D !important;
    color: #F6FBFF !important;
}