<!-- src/app/register/register.component.html -->
<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="nombre">Nombre:</label>
        <input id="nombre" formControlName="nombre" type="text">
      </div>
      <div>
        <label for="apellido">Apellido:</label>
        <input id="apellido" formControlName="apellido" type="text">
      </div>
      <div>
        <label for="telefono">Teléfono:</label>
        <input id="telefono" formControlName="telefono" type="tel">
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" formControlName="email" type="email">
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input id="password" formControlName="password" type="password">
      </div>
      <div>
        <label for="confirmPassword">Repetir Contraseña:</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password">
      </div>
      <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>
    </form>
  </div>
  
